{% extends 'base.html' %}

{% block body %}
    <div class="center-2">
                <div class="subheader">
                    <span> Write code and press "Compilar"</span>
                </div>
                <div class="div-txt">
                    <label id="txt1">Entrada:</label>
                    <textarea id="txt1" class="txtArea"></textarea>
                </div>
                <div class="div-medio">
                    <input type="button" value="Compilar" class="btn-upload"/>
                    <img src="{{ url_for('static', filename='images/cat.gif') }}" alt="Cat" >
                </div>
                <div class="div-txt">
                    <label id="txt2">Salida:</label>
                    <textarea id="txt2"  class="txtArea" readOnly></textarea>
                </div>
                <div class="clearfix"> </div>
            </div>
{% endblock %}