<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" />
    {% block head %}
    {% endblock %}
    <title>Compile Julia Online</title>
</head>

<body>
    <header id="header">
        <div class="center">
            <div id="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" class="app-logo" alt="Logotipo" />
                <span id="brand">
                    <strong>Compile Julia Online</strong>
                </span>
            </div>

            <nav id="menu">
                    <ul>
                        <li>
                            <a href="index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="#">Análisis</a>
                        </li>
                        <li>
                            <a href="#">Reportes</a>
                        </li>
                    </ul>
                </nav>

            <div class="clearfix"> </div>
        </div>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>